---
layout: default
title: CIEMS
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">Center for International Emergency Medical Services</h1>
				<p class="editable">The Center for International Emergency Medical Services (CIEMS) is a 501(c)(3) nonprofit organization based in Colorado, Boston, and New York that was formed in 2006 for the purpose of improving emergency services systems worldwide. The Center is currently developing partnerships with organizations wishing to support its goals, and seeking individuals who have an interest in International Emergency Services Development. </p>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/CIEMS_Logo.png" alt="Logo">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">Projects</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Curricula and Guidelines</h3>
			<p class="editable">A product of the Community that the Center is working to create will be the authoring of best practices guidelines for International EMS research and development. </p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Consultation and Support</h3>
			<p class="editable">We offer advice, support, and services for research, development, and implementation on EMS and related medical and healthcare systems.

</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Research Information Systems</h3>
			<p class="editable">We provide systems and services that support research organizations working on EMS systems development and releated healthcare and medicine projects.</p>
		</li>
	</ul>
</div>
